 /* Add your CSS styles here */
 
 html,body {
    font-family: var(--font-fam);
    font-size: 16px;
    color: var(--color-black);
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 393px;
    width: 100%;
}

body {
   overflow-x: hidden;
   }

 header {
    background-color: var(--color-primary);
    padding: 2px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 80px;
    top: 0px;
 }

 button#more-info:hover {
	text-shadow: 0px 0px 13px rgba(255, 255, 255, 1);
    transition: all 0.3s ease-in-out;
}

 section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
 }

.header {
    margin-bottom: 20px; 
}

 .form-section {
    background-color: var(--color-secondary);
    text-align: center;
    height: 45px;
    top: 80px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}     

.sticky {
    z-index: 1000;
    position: sticky;
}

section.hero {
    background-image: url('../images/hero-image-mobile.png');
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-position: top center;
}

.hero-text-box {
    background-color: rgba(0,0,0,.75);
    font-size: 96px;
    font-weight: bold;
    line-height: 1.2;
    height: 50%;
    display: flex;
    text-align: center;
    width: 100%;
	align-items: center;
	justify-content: center;
}


.sumter-smart {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 5%;
}

.sumter-smart h4 {
    color: var(--color-black);
}

.sumter-smart p {
    color: white;
}

h2 {
   display: flex;
   flex-direction: column;;
}

h2 span.bottom {
    margin-top: -10px;
}
  
h2 span.sub {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    flex-direction: column;
}

section.stats {
    background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 150px;
    padding-top: 75px
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%

}

.stat h2 {
    color: var(--color-secondary);
    font-size: 100px;
}

.stat h3, .stat h2 {
    margin: 0px;
    text-align: center;
}


section.circle-top {
    padding-bottom: 150px;
    border-top: solid 61px var(--color-primary);
}


.circle-top h2{
    margin-top: 40px;
}

.circle-img {
    display: block;
    position: relative;
    width: 65vw;
    height: 65vw;
    max-width: 500px;
    max-height: 500px;
    background-position: center;
    background-size: contain;
    margin-top: -130px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.circle-img.value {
	background-image: url('../images/circle-value.png')
}

.circle-img.microscope {
	background-image: url('../images/circle-microscope.png')
}

.circle-img.experience {
	background-image: url('../images/circle-experience.png')
}



header .logo {
    width: 200px;
}

footer {
    text-align: center;
    border-top: 60px solid var(--color-primary);
    background-color: var(--color-black);
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer .logo {
    width: 60%;
    max-width: 350px;
    min-width: 200px;
    margin: 75px auto 25px;
}

footer .logo.left {
    display: none;
}

footer p {
    color: white;
	line-height: 1.5;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.copy {
    display: flex;
	flex-direction: column;
	padding-top: 20px;
	border-top: solid white 2px;
	margin-bottom: 20px;
	width: 60%;
	align-items: center;
	margin: 0px auto 75px;
	max-width: 400px;
}

.social {
    display: flex;
    justify-content: center;
	align-items: center;
	margin: 25px auto;
	width: 60%;
    gap: 30px;
}

.social a svg {
    color: white;
    font-size: 30px;
}

.text{
    max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
    width: 80%;
}

.sumter-smart .text {
	max-width: 660px;
}
/*
section {
    padding-left: 5%;
    padding-right: 5%;
}
*/
.why-choose-usc {
    width: 100%; 
    margin: 0 auto;
    text-align: center; 
    padding-top: 30px;
	padding-bottom: 150px;
    margin-top: -1px;
}
.why-choose-usc::before {
    content: '<div class="white-line></div>';
    display: block;
    width: 80vw;
    height: 2px;
    background-color: var(--color-white);
    max-width: 300px;
    margin-bottom: 90px;
    
}

.why-choose-usc .columns .column {
    max-width: 300px; 
}

.hr {
    height: 3px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 50px;
}

.columns {
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
}

.column {
    flex: 1; /* Columns take up equal space */
    padding: 20px;
}

.column img {
    max-width: 80px;
    margin-bottom: 10px;
    opacity: 0; /* Start with icons hidden */
    transition: opacity 0.5s ease-in-out; /* Add a smooth fade-in transition */
}

.column img.fade-in, .circle-img.fade-in, .fade-in {
    opacity: 1; /* Make icons visible when the "fade-in" class is added */
}

section.circle-top.your-future {
    padding-bottom: 75px;
}


button {
    cursor: pointer;
    text-transform: uppercase;
}

button.text-button {
    background: none;
    border: none;
    cursor: pointer;
}

button#more-info {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.mascot {
    position: absolute;
    bottom: -523px;
    top: unset;
}

.footer-contain{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    position: relative;
}

.mascot-contain {
	display: block;
	width: 100%;
	position: relative;
	margin-top: -50px;
	height: 400px;
	background-image: url(../images/mascot.svg);
	background-position: top center;
	background-repeat: no-repeat;
}

@media (min-width: 900px) {
	section.hero {
        display: flex;
        flex-direction: row;
        height: 500px;
        background-image: url('../images/hero-image-desktop.png');
        background-position: right;
        position: relative;
        justify-content: flex-start;
    }
    .hero-text-box{
        position: relative;
        width: 50%;
        height: 100%;
    }
     section.stats {
        flex-direction: row;
        justify-content:center;
		margin: auto;
    }

    .why-choose-usc {
        padding-bottom: 150px;
    }

    .why-choose-usc .columns {
        flex-direction: row;
    }

    header {
        height: 125px;
    }

    header .logo {
        width: 275px;
    }

    .form-section {
        top: 125px;
    }   
     
    .why-choose-usc::before {
        width: 80vw;
        max-width: 1200px;
    }

}

@media (min-width: 1200px) {

    .mascot-contain {
        display: block;
        width: 814px;
        position: absolute;
        margin-top: unset;
        height: 584px;
        rotate: 13deg;
        top: -223px;
        right: -80px;
        bottom: unset;      
    }
    
    #value { 
        padding-bottom: 140px;
    }
	 section.stats {
        max-width: 1200px;
    }
   h2 span.bottom {
        display: contents;
    }
    h3{
        line-height: 1;
    }
    section.circle-top {
        flex-direction: row;
        justify-content: center;
		align-items: center;
        padding-bottom: 50px;
    }

    section.circle-top.reverse{
        flex-direction: row-reverse;
    }

    .circle-img {
        position: relative;
        width: 587px;
        height:587px;
        max-width: 587px;
        max-height: 587px;
        background-position: center;
        background-size: contain;
        margin: 88px 60px 88px 0px;
    }

    .circle-top.reverse .circle-img {
        margin: 88px 0px 88px 60px;
    }
    
		
	.circle-img.value {
		background-image: url('../images/circle-value-desktop.png')
	}
	.circle-img.microscope {
		background-image: url('../images/circle-microscope-desktop.png')
	}
	.circle-img.experience {
		background-image: url('../images/circle-experience-desktop.png')
	}
	
    .circle-top .text {
        display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		max-width: 500px;
		text-align: left;
        align-items: flex-start;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 75px;
        padding-bottom: 75px;
    }
    footer .logo.left {
        display: block;
        width: unset;
        margin: unset;
    }
    footer .logo.center {
        display: none;
    }

    .footer-contain{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        max-width: 1440px;
        position: relative;
    }

    .social {
        margin: unset;
        margin-bottom: 20px;
        justify-content: flex-start;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 0px;
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 75px;
    }
    .copy{
        margin: unset;
        align-items: flex-start;
        width: unset;
    }
    .copy p {
        margin: 0px;
        text-align: left;
    }

    .contact, .social, .copy{
        margin-left: 85px;
    }

}

@media (min-width: 1440px) {
    section.circle-top {
        gap: 100px;
    }
    
}