 /* Add your CSS styles here */
 
 html,body {
    font-family: var(--font-fam);
    font-size: 16px;
    color: var(--color-black);
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 393px;
    width: 100%;
}

body {
   overflow-x: hidden;
   }
 header {
    background-color: var(--color-primary);
    padding: 2px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80px;
    top: 0px;
 }

 section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
 }

.header {
    margin-bottom: 20px; 
}

form {
    display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	gap: 20px;
}

 .form-section {
    background-color: var(--color-secondary);
    text-align: center;
    height: 45px;
    top: 80px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    flex-direction: column;
}     
.modal-header h2 {
    font-size: 28px;
	margin-top: -13px;
	margin-bottom: 8px;
    color: var(--color-primary);
}

.modal-header h2 span {
    color: var(--color-secondary);
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5000;
    display: none;
    justify-content: center;
    align-items: flex-start;
    transition: background-color 0.3s ease-in-out;
    overflow-y: scroll;
}

.modal-background.reveal {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: var(--color-white);
	border-radius: 10px;
	padding: 28px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	max-width: 400px;
	width: 80%;
	box-sizing: border-box;
	transition: background-color 0.3s ease-in-out;
    margin-top: 145px;
}

select {
    width: 100%;

}

.modal-header {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: solid .5px rgba(0, 0, 0, 0.8);
	padding-bottom: 5px;
	position: relative;
}

.input-container{
    display: flex;
	flex-direction: row;
	width: 100%;
	gap: 2px;
	align-items: center;
}

.input-container label {
    font-size: 14px;
	font-weight: 600;
	min-width: 94px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="zip"],
.input-container select {
    width: 100%;
	border-color: rgba(0, 0, 0, 0.3);
	height: 35px;
	padding-left: 13px;
}

.input-container.submit {
	justify-content: flex-start;
}

#submit {
    width: fit-content;
	text-align: center;
	justify-content: center;
	align-items: center;
}

span.close {
  position: absolute;
  top: -40px;
  right: -17px;
  font-size: 50px;
  cursor: pointer;
}


.sticky {
    z-index: 1000;
    position: sticky;
}

section.hero {
    background-image: url('../images/hero-image-mobile.png');
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-position: top center;
}

.hero-text-box {
    background-color: rgba(0,0,0,.75);
    font-size: 96px;
    font-weight: bold;
    line-height: 1.2;
    height: 50%;
    display: flex;
    text-align: center;
    width: 100%;
	align-items: center;
	justify-content: center;
}


.sumter-smart {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 5%;
}

.sumter-smart h4 {
    color: var(--color-black);
    font-size: 21px;
}

.sumter-smart p {
    color: white;
}

h2 span.bottom {
    margin-top: -10px;
}
  
h2 span.sub {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    flex-direction: column;
}

.modal-body p {
    font-size: 15px;
}

section.stats {
    background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 130px;
    padding-top: 30px;
    gap: 30px;
}
                
.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
	transition: opacity .7s ease-in-out;
    opacity: 0;

}

.stat h2 {
    color: var(--color-secondary);
    font-size: 100px;
    margin: 0px;
    text-align: center;
}

.stat h3 {
    text-align: center;
    margin-top: -26px;
}


section.circle-top {
    padding-bottom: 150px;
    border-top: solid 61px var(--color-primary);
}


.circle-top h2{
    margin: 40px auto 10px;
    text-align: center;
}

.circle-img {
    display: block;
	position: relative;
	background-position: center;
	background-size: contain;
	margin-top: -130px;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity .7s ease-in-out;
	width: 70vw;
	height: 70vw;
	max-width: 450px;
	min-width: 300px;
	min-height: 300px;
	max-height: 450px;
}
i.asterisk{
    font-size: .75em;
}
.circle-img.value {
	background-image: url('../images/circle-value.png')
}

.circle-img.microscope {
	background-image: url('../images/circle-microscope.png')
}

.circle-img.experience {
	background-image: url('../images/circle-experience.png')
}



header .logo {
    width: 200px;
}

footer {
    text-align: center;
    border-top: 60px solid var(--color-primary);
    background-color: var(--color-black);
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer .logo {
    width: 60%;
    max-width: 350px;
    min-width: 200px;
    margin: 75px auto 25px;
}

footer .logo.left {
    display: none;
}

footer p {
    color: white;
	line-height: 1.5;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.copy {
    display: flex;
	flex-direction: column;
	padding-top: 20px;
	border-top: solid white 2px;
	margin-bottom: 20px;
	width: 60%;
	align-items: center;
	margin: 0px auto 75px;
	max-width: 400px;
}

.social {
    display: flex;
    justify-content: center;
	align-items: center;
	margin: 25px auto;
	width: 60%;
    gap: 30px;
}

.social a svg {
    color: white;
    font-size: 30px;
}



.text {
    max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    text-align: left;
    width: 80%;
	transition: opacity .7s ease-in-out;
    opacity: 0;
}

.sumter-smart .text {
	max-width: 660px;
}

.why-choose-usc {
    width: 100%; 
    margin: 0 auto;
    text-align: center; 
    padding-top: 30px;
	padding-bottom: 130px;
    margin-top: -1px;
}
.why-choose-usc::before {
    content: '<div class="white-line></div>';
    display: block;
    width: 80vw;
    height: 2px;
    background-color: var(--color-white);
    margin-bottom: 50px;
    
}

.why-choose-usc .columns .column {
    max-width: 300px; 
}

.hr {
    height: 3px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 50px;
}

.columns {
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
}

.column {
    flex: 1; /* Columns take up equal space */
    padding: 20px;
}

.column img {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    opacity: 0; /* Start with icons hidden */
    transition: opacity 0.5s ease-in-out; /* Add a smooth fade-in transition */
}

.column img.fade-in, .circle-img.fade-in, .fade-in {
    opacity: 1; /* Make icons visible when the "fade-in" class is added */
}

section.circle-top.your-future {
    padding-bottom: 25px;
}

button#more-info {
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    padding: 13px 0px;
    position: sticky;
    top: 80px;
    box-shadow:rgba(0, 0, 0, .4) 0px 10px 7px 0px;
}

button#more-info:hover {
	text-shadow: 0px 0px 13px rgba(255, 255, 255, 1);
    transition: all 0.3s ease-in-out;
    padding: 15px 0px;
}

.mascot {
    position: absolute;
    bottom: -523px;
    top: unset;
}

.footer-contain{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    position: relative;
}

.mascot-contain {
	display: block;
	width: 100%;
	position: relative;
	margin-top: -50px;
	height: 400px;
    rotate: 0deg;
	background-image: url(../images/mascot.svg);
	background-position: top center;
	background-repeat: no-repeat;
}

h2 span.bottom {
    display: block;
}

.text a.button{
    margin: 20px auto;
}

h2.stat {
    margin-bottom: -24px;
}

h3{
    line-height: 1;
}

.copy p{
    font-size: .9em;
}

.arrow-reveal{
    padding-left: 13px;
	height: 13px;
	width: 13px;
}


#value {
    padding-bottom: 30px;
}

@media (min-width: 900px) {

    
h1.hero {
    font-size: 84px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    list-height: 1;
}

h1.hero span.sub {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: block;
}

    .modal-header h2 {
        font-size: 32px;
    }

    h2 span.bottom {
        display: contents;
    }
    
    .input-container label {
        min-width: 120px;
    }
    .modal-body p {
        font-size: 16px;
    }

	section.hero {
        display: flex;
        flex-direction: row;
        height: 500px;
        background-image: url('../images/hero-image-desktop.png');
        background-position: right;
        position: relative;
        justify-content: flex-start;
    }
    .hero-text-box{
        position: relative;
        width: 50%;
        height: 100%;
    }
     section.stats {
        flex-direction: row;
        justify-content:center;
        align-items: flex-start;
		margin: auto;
        padding-top: 40px;
		padding-bottom: 80px;
    }

    .why-choose-usc {
        padding-bottom: 130px;
    }

    .why-choose-usc .columns {
        flex-direction: row;
        margin-top: 40px;
    }

    header {
        height: 125px;
    }

    header .logo {
        width: 300px;
    }

     #more-info {
        font-size: 18px;
     }

    .why-choose-usc::before {
        width: 80vw;
        max-width: 1200px;
    }

	.circle-img.value {
		background-image: url('../images/circle-value-desktop.png')
	}
	.circle-img.microscope {
		background-image: url('../images/circle-microscope-desktop.png')
	}
	.circle-img.experience {
		background-image: url('../images/circle-experience-desktop.png')
	}

    button#more-info {
        position: sticky;
        top: 125px;
        
    }

    h3{
        line-height: 1;
    }
}

@media (min-width: 1200px) {

    .why-choose-usc {
        padding-bottom: 70px;
    }
    section.stats {
        padding-top: 30px;
		padding-bottom: 60px;
    }
    .text a.button{
        margin: 20px 0px;
        }
    .circle-top h2 {
        margin: 40px 0px 10px;
        text-align: left;
    }
    .sumter-smart .text, .sumter-smart .text h4 {
        text-align: center;
        align-items: center;
    }

    .circle-top .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        max-width: 500px;
        text-align: left;
        align-items: flex-start;
    }



    .mascot-contain {
        display: block;
		width: 706px;
		position: absolute;
		margin-top: unset;
		height: 566px;
		rotate: 0deg;
		top: -246px;
		right: 0px;
		bottom: unset;  
        background-image: url(../images/mascot-rotated.svg);    
    }
    
    #value { 
        padding-bottom: 140px;
    }
	 section.stats {
        max-width: 1200px;
    }
    section.circle-top {
        flex-direction: row;
        justify-content: center;
		align-items: center;
        padding-bottom: 50px;
    }

    section.circle-top.reverse{
        flex-direction: row-reverse;
    }

    .circle-img {
        position: relative;
        width: 587px;
        height:587px;
        max-width: 587px;
        max-height: 587px;
        background-position: center;
        background-size: contain;
        margin: 88px 60px 88px 0px;
    }

    .circle-top.reverse .circle-img {
        margin: 88px 0px 88px 60px;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 75px;
        padding-bottom: 75px;
    }
    footer .logo.left {
        display: block;
        width: unset;
        margin: unset;
    }
    footer .logo.center {
        display: none;
    }

    .footer-contain{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        max-width: 1440px;
        position: relative;
    }

    .social {
        margin: unset;
        margin-bottom: 20px;
        justify-content: flex-start;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 0px;
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 75px;
    }
    .copy{
        margin: unset;
        align-items: flex-start;
        width: unset;
    }
    .copy p {
        margin: 0px;
        text-align: left;
    }

    .contact, .social, .copy{
        margin-left: 85px;
    }

}

@media (min-width: 1440px) {

    section.circle-top {
        gap: 100px;
    }
    
}





 /* Pulsing Social Icon animation */

 @keyframes pulsing {
    0%   {filter: drop-shadow(0px 0px 0px white)}
    50%  {filter: drop-shadow(0px 0px 9px white);}
    100% {filter: drop-shadow(0px 0px 0px white)}
  }

  /* Apply the keyframed animaation above to the social icon class */

  .social-icon:hover {
    animation-name: pulsing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  } 


/* Css class to add on to anything that we want to animate upward */
.animate-upward {
    animation-name: upward;
    animation-duration: 1s;
}
  
@keyframes upward {
0% {
    transform: translateY(100px);
}
100% {
    transform: translateY(0px);
}
}