/* FILEPATH: /Users/loonarbot/Documents/dev/south-carolina-sumter/css/sumter-branding.css */
@font-face {
  font-family: 'Berlingske Sans Regular';
  src: url('../fonts/BerlingskeSans-Md.woff2') format('woff2'),
      url('../fonts/BerlingskeSans-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Berlingske Sans Bold';
  src: url('../fonts/BerlingskeSans-XBd.woff2') format('woff2'),
      url('../fonts/BerlingskeSans-XBd.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Berlingske Sans Xcn';
  src: url('../fonts/BerlingskeSansXCn-XBd.woff2') format('woff2'),
      url('../fonts/BerlingskeSansXCn-XBd.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Berlingske Serif Bold';
  src: url('../fonts/BerlingskeSerif-Bd.woff2') format('woff2'),
      url('../fonts/BerlingskeSerif-Bd.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

:root {
    /* Colors */
    --color-primary: #73000A;
    --color-secondary: #CB333B;
    --color-black: #0D0D0D;
    --color-white: white;
    --color-success: #28a745;
    --color-success: #dc3545;
    --color-success: #ffc107;
    --color-dark-gray: #5C5C5C;
	  --color-silver: #c7c7c7;
	  --color-mineshaft: #363636;
    
    /* Brand Font Families */
    --font-fam: 'Berlingske Sans Regular', 'Roboto', Arial, sans-serif;
    --font-fam-bold: 'Berlingske Sans Bold','Roboto', sans-serif;
    --font-fam-header: 'Berlingske Sans Xcn', sans-serif;
	  --font-fam-serif-bold: 'Berlingske Serif Bold', 'Georgia', serif;

	  --inset-box-shadow: inset 0 0 30px rgb(0 0 0 / 60%);
	  --headline-text-shadow: 5px 5px 20px rgb(0 0 0 / 100%);
	  --scale-up-photo: scale3d(1.05, 1.05, 1);
}


.color-primary {
  color: var(--color-primary); /* Maroon */
}

.color-secondary {
  color: var(--color-secondary); /* Pale Red */
}

.color-white {
  color: white;
}

.bg-color-primary  {
    background-color: var(--color-primary); /* Maroon */
}

.bg-color-secondary {
    background-color: var(--color-secondary); /* Pale Red */
}

.bg-color-black {
    background-color: var(--color-black);
}
