/* FILEPATH: /Users/loonarbot/Documents/dev/south-carolina-sumter/css/sumter-branding.css */
@font-face {
  font-family: 'Berlingske Sans Regular';
  src: url('../fonts/BerlingskeSans-Md.woff2') format('woff2'),
      url('../fonts/BerlingskeSans-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Berlingske Sans Bold';
  src: url('../fonts/BerlingskeSans-XBd.woff2') format('woff2'),
      url('../fonts/BerlingskeSans-XBd.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Berlingske Sans Xcn';
  src: url('../fonts/BerlingskeSansXCn-XBd.woff2') format('woff2'),
      url('../fonts/BerlingskeSansXCn-XBd.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Berlingske Serif Bold';
  src: url('../fonts/BerlingskeSerif-Bd.woff2') format('woff2'),
      url('../fonts/BerlingskeSerif-Bd.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

:root {
    /* Colors */
    --color-primary: #73000A;
    --color-secondary: #CB333B;
    --color-black: #0D0D0D;
    --color-white: white;
    --color-success: #28a745;
    --color-success: #dc3545;
    --color-success: #ffc107;
    --color-dark-gray: #5C5C5C;
	  --color-silver: #c7c7c7;
	  --color-mineshaft: #363636;
    
    /* Brand Font Families */
    --font-fam: 'Berlingske Sans Regular', 'Roboto', Arial, sans-serif;
    --font-fam-bold: 'Berlingske Sans Bold','Roboto', sans-serif;
    --font-fam-header: 'Berlingske Sans Xcn', sans-serif;
	  --font-fam-serif-bold: 'Berlingske Serif Bold', 'Georgia', serif;

	  --inset-box-shadow: inset 0 0 30px rgb(0 0 0 / 60%);
	  --headline-text-shadow: 5px 5px 20px rgb(0 0 0 / 100%);
	  --scale-up-photo: scale3d(1.05, 1.05, 1);
}

body {
    font-family: var(--font-fam);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-black);
    background-color: var(--color-white);
}

p {
    color: var(--color-black);
    font-family: var(--font-fam);
    font-size: 20px;
    font-style: normal;
}

.color-primary {
  color: var(--color-primary); /* Maroon */
}

.color-secondary {
  color: var(--color-secondary); /* Pale Red */
}

.color-white {
  color: white;
}

.bg-color-primary  {
    background-color: var(--color-primary); /* Maroon */
}

.bg-color-secondary {
    background-color: var(--color-secondary); /* Pale Red */
}

.bg-color-black {
    background-color: var(--color-black);
}

bold, strong {
    font-family: var(--font-fam-bold);
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fam-header);
  font-weight: bold;
  color: var(--color-black);
  text-transform: uppercase;
  margin-block-start: 0px;
	margin-block-end: 0px;
}

h1 {
    font-size: 48px;
}

h1.hero {
    font-size: 56px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1.hero span.sub {
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: block;
}

h2 {
  font-family: var(--font-fam-header);
  font-size: 42px;
}

h3 {
  font-family: var(--font-fam-header);
  font-size: 24px;
}

h4 {
  font-family: var(--font-fam-bold);
  font-size: 21px;
  margin-bottom: -20px;
  margin-top: 5px;
}

h5 {
  font-family: var(--font-fam-header);
  font-size: 16px;
}

h6 {
  font-family: var(--font-fam-header);
  font-size: 14px;
}

button.button, a.button, input[type="submit"]{
  font-family: var(--font-fam);
	font-size: 20px;
	font-weight: 400;
	color: var(--color-white);
	background-color: var(--color-black);
	border: none;
	border-radius: 50px;
	/* height: 40px; */
	cursor: pointer;
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	padding: 5px 50px;
	/* margin: 13px auto; */
	min-width: 186px;
	text-transform: uppercase;
	text-decoration: none;
	width: fit-content;
	text-align: center;
}

section.bg-color-black a.button {
  background-color: var(--color-secondary);
}

section.bg-color-white a.button {
  background-color: var(--color-primary);
}

section.bg-color-primary a.button, section.bg-color-secondary a.button {
  background-color: var(--color-black);
  color: var(--color-white);
}

section.bg-color-black h4, section.bg-color-white h4, section h4 {
  color: var(--color-secondary);
}

section.bg-color-black h4.color-white {
  color: var(--color-white);
}

section.bg-color-primary h4, section.bg-color-secondary h4 {
  color: var(--color-black);
}

section.bg-color-black p, section.bg-color-primary p, section.bg-color-secondary p {
  color: var(--color-white);
  max-width: 50;
}

section.bg-color-white p {
  color: var(--color-black);
}

.upper {
  text-transform: uppercase;
}